.background {
  background-color:#ffa826;
}

.introduction {
  font-family: Nyala;
  text-align: center;
}

.content {
  font-family: Georgia;
}

.early-access {
    background: lightblue; 
    background-size: cover;
    color: black;
    font-family: Arial;
    text-align: center;
}

.additional-info {
  font-family: Helvetica;
}

.available-contents {
  background: yellow;
  font-family: Courier New;
  text-align: center;
}

.websites {
  background: greenyellow;
  font-family: Segoe UI;
}

.profile-photo {
  background-image: url(https://yt3.ggpht.com/a-/AJLlDp2_mepbzL0bY4x9IkAQJxytlV3V5WpkfM4Tow=s900-mo-c-c0xffffffff-rj-k-no);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  height: 300px;
  width: 300px;
}
/*
Button Menu below
      v
      v
*/
.menu { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.menu ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.menu ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
